@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&family=Zen+Antique&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar { /*Tirar a barra de rolagem da pagina*/
    width: 0px;
    height: 0px;
}

header{ /*Primeiro texto do site*/
    background-color:rgb(9, 35, 50);
    text-align: center;
    padding: 20px;
}

header > a { /*Primeiro texto do site*/
    text-decoration: none;
    color: white;
    font-size: 0.6em;
    background-color: rgb(9, 35, 50);
    margin-inline: 1.5em;
}
img.logo {
    display: block;
    width: 170px;
    transform: translate(-90%, -20%);
    margin-left: 2px;
    margin-inline: 12em;
    background-size: 120px 120px;
}



nav {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
}

nav > a { /*Menu de navegação*/
    text-decoration: none;
    color: rgb(9, 35, 50);
    margin-inline: 1.5em;
    background-color: white;
    transform: translate(-20%, +10%);
    width: 170px;
}

.curso {
    width: 150px;
    font-size: 15px;
    color: rgb(9, 35, 50);
    font-weight: bolder;
   
}

nav > input { /* Botão Acessar Plataforma */
    font-size: 14px;
    background-color:rgb(250, 103, 53) ;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
    height: 50px;
    font-weight: bolder;

}

img.banner1{ /*Imagem 1 do carrosel*/
    display: block;
    width: 100%;
    height: 100%;
}

img.banner2{ /*Imagem 2 do carrosel*/
    width: 100%;
    height: 100%;
}

img.banner3 { /*Imagem 3 do carrosel*/
    width: 100%;
    height: 100%;
}






.homologados { /*Config. geral Homologados*/
    padding: 40px;
    height: 420px;
    background-color: rgb(244,250,254);
    
}
section > h2 { /*A Habilite-se tem o curso e a prova que você precisa*/
    color:rgb(37, 50, 75) ;
    font-size: 2em;
    padding: 20px;
    width: 450px;
    height: 150px;
    margin: auto;
    font-weight: bolder;
}

.cursos { /*Cursos Homologados*/
    font-size: 1.0em;
    display: block;
    transform: translate(+20%, -10%);
    
}

.ead { /*Texto do Ead*/
    display: block;
    font-size: 12px;
    transform: translate(+21%, +10%);
}

.pv { /*Texto de Provas*/
    color: black;
    display: block;
    font-size: 13px;
    transform: translate(+60%, -120%);
}

.primeira {
    display: block;
    font-size: 13px;
    transform: translate(+21%, -500%);
}

.provas { /*Provas*/
    padding: 10px;
    transform: translate(+60%, -250%);
    display: block;
}

.principal { /* EAD / Presencial, Remoto...*/
    color: rgb(250, 103, 53);
    display: block;
    font-size: 15px;
    padding: 2px;
    transform: translate(+20%, -10%);
}

.principal2 {
    color: rgb(250, 103, 53);
    display: block;
    font-size: 15px;
    transform: translate(+20%, -500%);
}





section.azul {
    background-color: rgb(10, 37, 53);
    height: 400px;
    padding: 40px;
}

img.imgfelicidade {
    height: 330px;
    width: 400px;
    transform: translate(+40%, -70%);
    position: relative;
}

.titulofelicidade {
    transform: translate(+40%, +20%);
    background-color: rgb(10, 37, 53);
    color: white;
    font-size: 2em;
    width: 300px;
}

.felicidade { /*CNh suspensa? ...*/
    font-size: 13px;
    width: 350px;
    display: block;
    margin: auto;
    padding: 20px;
    background-color: rgb(10, 37, 53);
    color: rgba(255, 255, 255, 0.616);
    transform: translate(+40%, +10%);
}



section > input { /*Botão Curso de Reciclagem*/
    font-size: 12px;
    background-color:rgb(50, 97, 125) ;
    border-radius: 2px;
    padding: 10px;
    color: white;
    border: none;
    margin: auto;
    display: block;
    transform: translate(+50%, -850%);
    width: 220px;
    font-weight: bolder;
}

#atendimento{
    height: 900px;
}
.ttvanta{ /*Vantagens de ser um parceiro Habilite-se*/ 
    transform: translate(+2%, +1%);
    font-size: 2.5em;
    font-weight: bolder;
}
.txtvanta{ /*Titulo: Atendimento/Resposta Rapida...*/
    color: rgb(250, 103, 53);
    font-size: 25px
}

.txtate{ /*Texto atendimento*/
    width:380px;
    padding: 20px;
    transform: translate(+40%, +1%)
}

.txtrr { /*texto Resposta Rapida*/
    width:380px;
    padding: 20px;
    transform: translate(+170%, -106%);
}

.txtmi { /*Texto Migração*/
    width:380px;
    padding: 20px;
    transform: translate(+40%, -100%)
}

.txteco { /*Texto Economia*/
    width:380px;
    padding: 20px;
    transform: translate(+170%, -200%);
}

.txtvisita { /*Acho que já deu para entender...*/
    font-size: 20px;
    width: 610px;
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: rgb(10, 37, 53);
    background-color: white;
}


div > input { /*Botão Quero a visita de...*/
    font-size: 15px;
    background-color:rgb(50, 97, 125) ;
    border-radius: 5px;
    padding: 20px;
    color: white;
    border: none;
    display: block;
    margin: auto;
    width: 320px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.plf{/*Config. geral Os alunos...*/
    color: white;
    width: 700px;
    font-size: 40px;
    
}
.plataforma { /*Os aluno na plataforma Habilite-se estão em boa mãos*/
    background-color: rgb(10, 37, 53) ;
    height: 600px;
    padding: 50px;
    text-align: center;
}

/**.segundocarrosel {
    width: 50px;
    height: 200px;
}**/

/**.imgmaos {
    width: 500px;
    height: 500px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, rgb(10, 37, 53) 100%);
} **/

.ValeaPena { /*Config Geral*/
    background-color: rgb(50,97,125);
    height: 600px;
}

.ValeaPena > h2 {
    color: white;
    width: 350px;
    font-size: 40px;
    padding: 30px;
    transform: translate(+70%, +80%);
}

.ValeaPena > p {
    color: rgba(255, 255, 255, 0.493);
    width: 400px;
    transform: translate(+198%, +280%);
    font-size: 15px;
}

.ValeaPena > input { /*Quero a visita de um consultor*/
    transform: translate(+100%, +370%);
    background-color: rgb(10, 37, 53);
    font-size: 15px;
    padding: 10px;
    width: 270px;
}

.ValeaPena > img {
    transform: translate(+10%, -50%);
}

fieldset.escolha1 { /*Config do campo 1 */
    border-radius: 20px;
    box-shadow: 0px 1px 7px black;
    height: 380px;
    width: 80%;
    transform: translate(+10%, -7%);
    border: none;
}

.esc {  /*Porque escolher a Habilite-se*/
    font-size: 40px;
    text-align: center;
}

.escolha1 > img { /*Imagem 1*/
    height: 100%;
    height: 100%;
    border-radius: 20px;
}
.escolha1 > strong { /*Feito para você*/
    color: rgb(250, 103, 53);
    font-size: 25px;
    position: absolute;
    top: 15%;
    right: 32%;
}

.escolha1 > p { /*Texto 1 */
    width: 40%;
    position: absolute;
    top: 27%;
    right: 10%;
    color: rgba(0, 0, 0, 0.628);
    font-size: 15px;
}

fieldset.escolha2 { /*Config do campo 2 */
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(0, 0, 0);
    height: 380px;
    width: 80%;
    transform: translate(+10%, -7%);
    border: none;
}

.escolha2 > strong { /* Equipe Profissional*/
    color: rgb(250, 103, 53);
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.escolha2 > img { /*Imagem 2*/
    height: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 52%; /*colocar a imagem a direita*/
}
.escolha2 > p { /*Texto 2 */
    width: 40%;
    position: absolute;
    left: 10%;
    bottom: 30%;
    color: rgba(0, 0, 0, 0.678);
    font-size: 15px;
}

fieldset.escolha3 { /*Config do campo 3 */
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(0, 0, 0);
    height: 380px;
    width: 80%;
    transform: translate(+10%, -7%);
    border: none;
}

.escolha3 > img { /*Imagem 3*/
    height: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    right: 53%;
}

.escolha3 > strong { /*Entendemos você*/
    color: rgb(250, 103, 53);
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 50%;
}

.escolha3 > p { /*Texto 3 */
    width: 40%;
    position: absolute;
    left: 50%;
    bottom: 25%;
    color: rgba(0, 0, 0, 0.678);
    font-size: 15px;
}

fieldset.escolha4 { /*Config do campo 4 */
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(0, 0, 0);
    height: 380px;
    width: 80%;
    transform: translate(+10%, -7%);
    border: none;
}

.escolha4 > img { /*Imagem 4*/ 
    height: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 52%;
}

.escolha4 > strong {
    color: rgb(250, 103, 53);
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 10%;
}

.escolha4 > p { /*Texto 4*/
    width: 40%;
    position: absolute;
    left: 10%;
    bottom: 35%;
    color: rgba(0, 0, 0, 0.678);
    font-size: 15px;
}

section.vamos { /*Config Geral Vamos conversar? */
    height: 600px;
    background-color: rgb(50, 97, 125);
}

.vamos > h2 { /*Vamos Conversar*/
    color: white;
    font-size: 40px;
    position: relative;
    right: 35%;
    top: 30%;
    width: 20px;
}

.vamos > p {
    color: white;
    position: relative;
    left: 14%;
    top: 25%;
    width: 250px;
}

fieldset.conversar1 {
    width:30%;
    height: 12%;
    padding: 30px;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    bottom: 28%;
    background-color: white;
    border: none;
}

.conversar1 > p {
    color: rgba(0, 0, 0, 0.397);
}

fieldset > a {
    color:rgb(8, 32, 46);
    position: absolute;
    left: 75%;
    top: 40%;
    font-weight: bolder;
}

fieldset.conversar2 {
    width:30%;
    height: 12%;
    padding: 30px;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    bottom: 20%;
    background-color: white;
    border: none;
}

.conversar2 > p {
    color: rgba(0, 0, 0, 0.397);
}

fieldset.conversar3 {
    width:30%;
    height: 14%;
    padding: 30px;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    bottom: 15%;
    background-color: white;
    border: none;
}

.blog { /*Config Geral Blog*/
    height: 600px;
    background-color: rgb(238, 244, 248);
}
.blog > h2 { /*Blog*/
    font-size: 45px;
    position: relative;
    right: 20%;
    top: 10%;
}
.espaço { /*Texto: Esse é o espaço que...*/
    width: 20%;
    font-size: 15px;
    position: relative;
    left: 23%;
    bottom: 18%;
}

.blog > img {/*Imagem 1*/
    border-radius: 20px;
    position: relative;
    bottom: 10%;
    left: 12%;
}

.dt1 {
    color: rgba(0, 0, 0, 0.411);
    font-size: 13px;
    position: relative;
    left: 12%;
    top: -8%;
}

.limite { /*texto novo limite*/
    font-weight: bolder;
    font-size: 18px;
    width: 24%;
    position: relative;
    left: 12%;
    bottom: 7%;
}

img.pontuacao  { 
    position: relative;
    top: -57%;
    left: 40%;
}

.dt2 {
    color: rgba(0, 0, 0, 0.411);
    font-size: 13px;
    position: relative;
    left: 40%;
    top: -55%;
}

.pontuacao1 { /*Texto O direito...*/
    font-weight: bolder;
    font-size: 18px;
    width: 24%;
    position: relative;
    left: 40%;
    top: -55%;
}

img.reci {
    position: relative;
    top: -101%;
    left: 68%;
}

.reci1 { /*Texto Curso d Reciclagem*/
    font-weight: bolder;
    font-size: 18px;
    width: 24%;
    position: relative;
    left: 68%;
    top: -99%;
}

.dt3 {
    color: rgba(0, 0, 0, 0.411);
    font-size: 13px;
    position: relative;
    left: 68%;
    top: -99%;
}



section.institucional { /*Config Geral*/
    background-color:rgb(10, 37, 53) ;
    font-size: 15px;
    padding: 100px;
    height: 180px;
    width: 100%;
}

section.itt { /*Institucional*/
    background-color: rgb(10, 37, 53) ;
    font-size: 13px;
    color: white;
    font-weight: bolder;
}

.itt {
    transform: translate(+2%, -10%);
    font-weight: bolder;
    color: white;
}

ul.teste { /*1° parte do Institucional*/
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    line-height: 30px; /*Altura entre as linhas*/
    transform: translate(+2%, -10%);
}


ul.teste2 {/*2° parte  do Institucional*/
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    transform: translate(+20%, -160%);

}

ul.teste3{ /**/ 
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    transform: translate(+35%, -150%);
    color: rgba(255, 255, 255, 0.507);
}

footer {
    height: 10px;
    width: 100%;
}

footer > p {  /*Rodapé*/
    background-color: rgb(8, 32, 46) ;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 0.8em;
}