@charset "UTF-8";

/*Configurações para a tela em paisagem*/

body {
    background: url(../imagens/cev-landscape.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-size: left bottom;
}